<div class="border rounded shadow">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="offset-1 col-10">
    <div class="form-group">
      <label class="form-check-label mt-5" for="old-password">
        <h6> Stare hasło </h6>
      </label>
      <input class="form-control" formControlName="old_password" type="password" id="old-password">
    </div>

    <div class="form-group">
      <label class="form-check-label" for="new-password">
        <h6> Nowe hasło </h6>
      </label>
      <input class="form-control" formControlName="new_password" type="password" id="new-password">
    </div>

    <div class="form-group">
      <label class="form-check-label" for="new-password-confirm">
        <h6> Powtórz nowe hasło </h6>
      </label>
      <input class="form-control" id="new-password-confirm" type="password">
    </div>

  <div class="text-center">
      <button class="btn btn-primary my-3"> Wyślij </button>
  </div>

  </form>

</div>
