<div class="min-height-15"></div>
<div class="offset-1 col-10">
  <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
    <div class="form-group border rounded shadow">
      <div class="my-5 mx-5">
        <div class="row">
          <mat-form-field class="col-7">
            <mat-label>
              Tytuł
            </mat-label>
            <input matInput formControlName="title" type="text">
            <mat-error *ngIf="editorForm.get('title').hasError('pattern')">
              Tytuł zawiera znaki niedozwolone
            </mat-error>
            <mat-error *ngIf="editorForm.get('title').hasError('required')">
              Tytuł jest wymagany
            </mat-error>
            <mat-error *ngIf="editorForm.get('title').hasError('maxlength')">
              Maksymalna ilość znaków wynosi 100
            </mat-error>
            <mat-error *ngIf="titleExists">
              Taki tytuł już istnieje, wybierz inny
            </mat-error>
          </mat-form-field>
          <div class="offset-2 col-2 text-center">
            <h2 class="font-weight-light"> Ocena:</h2>
            <star-rating-control class="no-outline" size="large" numOfStars="5" formControlName="rating"></star-rating-control>
          </div>
        </div>
        <div>
          <h3 class="font-weight-light my-3"> Restauracja </h3>

            <div *ngIf="restaurant">
              <h6> Nazwa:  {{restaurant.name}}</h6>
              <h6> Lokalizacja: </h6>
              <div class="ml-3">
                <h6>Miasto: {{cities[cityIndex].name}}</h6>
                <h6>Ulica: {{restaurant.address}}</h6>
              </div>


          <div class="col-8">
            <app-map [height]="300" [coordinates]="coordinates"></app-map>
          </div>
        </div>
        </div>

        <h3 class="font-weight-light my-3"> Recenzja </h3>
        <div class="">
          <quill-editor
            [styles]="editorStyle"
            [modules]="modules"
            format="json"
            formControlName="content"
            (onContentChanged)="textChanged($event)">
          </quill-editor>
          <small>{{articleLength || 0}}/3000</small>
          <div *ngIf="editorForm.controls.content.errors && editorForm.controls.content.dirty"
               class="alert alert-danger text-center my-2">
            <p *ngIf="editorForm.controls.content.errors?.required"> Recenzja jest wymagana </p>
            <p *ngIf="editorForm.controls.content.errors?.maxlength"> Maksymalna ilość znaków wynosi 3000 </p>
          </div>
        </div>

        <div class="my-5">
          <app-image-upload></app-image-upload>
        </div>

        <div class="text-center">
          <button mat-raised-button class="mt-2" [disabled]="editorForm.invalid">Aktualizuj</button>
        </div>
      </div>
    </div>
  </form>
</div>
