<article class="offset-3 col-6 border border-light my-2 rounded bg-light">

  <div class="row mx-2 mt-2">
   <a class="text-decoration-none text-dark" [routerLink]="['/userprofile', article.user.id]"> <p>{{article.user.first_name}} {{article.user.last_name}}</p> </a>
    <small class="ml-3 mt-1">{{article.creation_date}}</small><!--   <h6 class="ml-2" *ngFor="let tag of article.tags"><a routerLink="404">#{{tag}}</a></h6>-->
  </div>
  <h2>{{article.title}}</h2>
  <div id="article-map" class="align-content-center">
    <p class="text-center"> MAP GOES HERE</p>
  </div>
    <p [innerHTML]="article.content"></p>
</article>
<app-comment-section></app-comment-section>

