<div class="border rounded shadow">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="offset-1 col-10">
    <div class="form-group mt-5">
      <label class="form-check-label" for="new-password">
        <h6> Nowe hasło </h6>
      </label>
      <input class="form-control" formControlName="password" type="password" id="new-password">
      <div class="alert alert-danger text-center" *ngIf="changePasswordForm.get('password').hasError('required') &&
          changePasswordForm.get('password').dirty">
        Hasło jest wymagane
      </div>
      <div class="alert alert-danger mt-1 text-center" *ngIf="changePasswordForm.get('password').hasError('minlength') &&
      changePasswordForm.get('password').touched">
        Hasło musi mieć minimum 6 znaków
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label" for="new-password-confirm">
        <h6> Powtórz nowe hasło </h6>
      </label>
      <input class="form-control" id="new-password-confirm" type="password" formControlName="confirm_password">
      <div class="alert alert-danger" *ngIf="(changePasswordForm.get('password').value !=
        changePasswordForm.get('confirm_password').value) &&
          changePasswordForm.get('confirm_password').touched">
        Hasła nie są takie same
      </div>

    </div>

  <div class="text-center">
      <button class="btn btn-primary my-3" [disabled]="changePasswordForm.invalid"> Wyślij </button>

    <div class="alert alert-success text-center mt-3" *ngIf="submitSuccess">
      Hasło zostało zmienione
    </div>
    <div class="alert alert-danger text-center mt-3" *ngIf="submitError">
      Błąd, hasło nie zostało zmienione, spróbuj za chwile
    </div>
  </div>

  </form>

</div>
