<div class="scrollable">
  <div class="container offset-md-4 col-md-4 no-outline">
    <h1 class="font-weight-bold font-italic text-h1 text-center mt-4" routerLink="/home">
      Gdzie Jedzonko?
    </h1>
  </div>

  <div class="container-fluid border border-light rounded shadow-sm shadow offset-md-4 col-md-4 register-container">
    <div *ngIf="!submitted; else submittedTemplate">
    <h2 class= "text-center mt-2 form-text"> Zarejestruj się </h2>
    <div *ngIf="isError" class="text-center bg-danger rounded shadow-lg font-weight-lighter animate text-light">
      <p>Wprowadzony format danych jest nieprawidłowy</p>
    </div>
    <span class="clearfix"></span>
      <form  #registerForm="ngForm" name="registerForm" class="my-4" (ngSubmit)="onSubmit(registerForm.value)">
        <div class="form-group" id="a">
          <label for="email">Email</label>
          <input required minlength="3" maxlength="254" ngModel #email="ngModel" name="email" id="email" type="text" email="true"
                 class="form-control">
          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">Email jest wymagany</div>
            <div *ngIf="email.errors.email">Składnia emaila jest niepoprawna. Przykład: Kowalski@op.pl</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input required minlength="6" maxlength="128" ngModel name="password" #password="ngModel" id="password" type="password" class="form-control">
          <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required">Hasło jest wymagane</div>
            <div *ngIf="password.errors.minlength">Minimalna długośc: 6</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password-confirm">Powtórz hasło</label>
          <input required minlength="6" maxlength="128" ngModel name="password-confirm" #passwordConfirm="ngModel" id="password-confirm" type="password" class="form-control">
          <div class="alert alert-danger" *ngIf="passwordConfirm.touched && password.valid && !passwordConfirmation(password.value,passwordConfirm.value)">
            Hasła muszą być identyczne
          </div>
        </div>
        <div class="form-group">
          <label for="first_name">Imie</label>
          <input required maxlength="50" id="first_name" type="text" ngModel name="first_name" #first_name="ngModel" class="form-control">
          <div class="alert alert-danger" *ngIf="first_name.touched && !first_name.valid">
            <div *ngIf="first_name.errors.required">Imie jest wymagane</div>
          </div>
        </div>
        <div class="form-group">
          <label for="last_name">Nazwisko</label>
          <input required maxlength="50" id="last_name" type="text" ngModel name="last_name" #last_name="ngModel" class="form-control">
          <div class="alert alert-danger" *ngIf="last_name.touched && !last_name.valid">
            <div *ngIf="last_name.errors.required">Nazwisko jest wymagane</div>
          </div>
        </div>
        <div class="form-group">
          <label for="birth_date">Data urodzin</label>
          <input placeholder="yyyy-mm-dd" id="birth_date" type="date" ngModel name="birth_date" #birth_date="ngModel" class="form-control">
        </div>
        <div class="container text-center">
          <button class="btn btn-primary shadow-lg" [disabled]="registerForm.form.invalid || !isIdenticalPassword"
                  [ngClass]="{'btn-danger': (registerForm.form.invalid || !isIdenticalPassword) && !registerForm.form.untouched}">
            Zarejestruj
          </button>
        </div>
      </form>
    </div>
    <ng-template #submittedTemplate>
      <div class="text-center form-text">
      <h2 class = "mt-2"> Zarejestrowałeś się! </h2>
      <p class = "mt-2"> Za chwilę zostaniesz przeniesiony na stronę główną ... {{countdown}} </p>
      <p> Zaloguj się by pełni korzystać z serwisu. </p>
      </div>
    </ng-template>
  </div>
</div>
