<div class="container-fluid">
  <div class="row">
    <div class="offset-2 col-4 border rounded-left justify-content-center">
      <p class="mt-2">Email: {{email}}</p>
      <p>Imie: {{first_name}}</p>
      <p>Nazwisko: {{last_name}}</p>
      <p>Data urodzenia: {{birth_date}}</p>
      <p>Data dołączenia: {{join_date}}</p>
    </div>
    <div class="col-2 border text-center">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary mt-5">Usuń konto</button>
    </div>
    <div class="col-2 border rounded-right text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle mt-5 w-75" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{selectedRole}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="selected(role)" *ngFor="let role of roles">{{role}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

