<div class="container-fluid">
  <div class="row">
    <div class="offset-2 col-md-4 border">
      <p class="firstpar">Email: {{email}}</p>
      <p class="nextpar">First name: {{first_name}}</p>
      <p class="nextpar">Last name: {{last_name}}</p>
      <p class="nextpar">Birth date: {{birth_date}}</p>
      <p class="nextpar">Join date: {{join_date}}</p>
    </div>
    <div class="col-md-2 border text-center">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">Test me</button>
    </div>
    <div class="col-md-2 border text-center">
      DROPMENU
    </div>
  </div>
</div>
