<div class="container-fluid">
  <div class="row">
    <div class="offset-2 col-4 border rounded-left justify-content-center">
      <p class="mt-2">Email: {{user.email}}</p>
      <p>Imie: {{user.first_name}}</p>
      <p>Nazwisko: {{user.last_name}}</p>
      <p>Data urodzenia: {{user.birth_date}}</p>
      <p>Data dołączenia: {{user.date_joined}}</p>
    </div>
    <div class="col-2 border text-center">
      <button name="editButton" class="btn btn-outline-dark mt-5" [routerLink]="['/editprofile',user.id]">
        Edytuj konto
      </button>
    </div>
    <div class="col-2 border rounded-right text-center">
      <button name="deleteButton" class="btn btn-outline-danger mt-5" [routerLink]="['/editprofile',user.id,'delete']">
        Usuń konto
      </button>
    </div>
  </div>
</div>

