<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <a routerLink="/home"><img src="assets/images/logo.svg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="text-light"> Menu </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <h4 class="font-weight-light"> <a class="nav-link text-decoration-none" routerLink="/home">Strona głowna <span class="sr-only">(current)</span></a></h4>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <h4 class="font-weight-light"> <a class="nav-link no-outline" [routerLink]="['/newreview']" tabindex="-1" aria-disabled="true">Nowa recenzja</a> </h4>
      </li>
      <li class="nav-item " *ngIf="isAdmin">
        <h4 class="font-weight-light"> <a class="nav-link no-outline" [routerLink]="['/admin']" tabindex="-1" aria-disabled="true">Admin panel</a> </h4>
      </li>
      <li class="nav-item " *ngIf="isModerator">
        <h4 class="font-weight-light"> <a class="nav-link no-outline" [routerLink]="['/moderator']" tabindex="-1" aria-disabled="true">Restauracje oczekujące</a> </h4>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" *ngIf="!loggedIn">
      <h4 class="font-weight-light"> <a class=" my-2 my-sm-0 text-decoration-none" [routerLink]="['/login']">Login</a></h4>
      <h4 class="font-weight-light"> <a class=" ml-2 my-2 my-sm-0 text-decoration-none" [routerLink]="['/register']">Sign up</a> </h4>
    </div>
    <div  class="d-inline-flex mr-4" *ngIf="loggedIn">
       <h6 class="d-inline mr-4 my-2 text-light font-weight-light">{{user.first_name}} {{user.last_name}}</h6>
      <ul class="navbar-nav mr-auto d-inline">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-3" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opcje
          </a>
          <div class="dropdown-menu color-custom" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/userprofile',user.id]">Profil</a>
            <a class="dropdown-item" [routerLink]="['/editprofile']">Edytuj profil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Wyloguj</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
