

  <div class="row">
    <mat-form-field class="ml-3 col-3 mt-3">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtruj">
    </mat-form-field>
    <div class="offset-6 col-2 mt-3 text-center">
      <button mat-raised-button [disabled]="!selectedRowIndex" class="btn btn-light mt-2" [routerLink]="['/admin/editprofile', selectedRowIndex]"> Edytuj </button>
    </div>
  </div>

  <table mat-table matSort matSortActive="id" matSortDirection="asc" [dataSource]="userDataSource" class="ml-2">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Imie </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.first_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="birth_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data urodzenia </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.birth_date? user.birth_date : "---"}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_joined">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data dołączenia </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.date_joined}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Uprawnienia </mat-header-cell>
      <mat-cell *matCellDef="let user">{{roles[user.role]}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  matRipple
              *matRowDef="let row; columns: displayedColumns"
              (mousedown)="selectRow(row)"
              [ngClass]="{'highlight': selectedRowIndex == row.id}">

    </mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>



