<!-- Footer -->
<footer class="mt-5 container-fluid">
  <div class="row">
    <div class="offset-md-2 col-md-3">
      <h3 class="">
        O nas
      </h3>
      <p>{{aboutUs}}</p>
    </div>
    <div class="col-md-2 mx-2">
      <h3>
        Kontakt
      </h3>
      <div class="mt-5">
        <p><b>Email:</b> {{contactEmail}}</p>
        <p><b>Phone:</b> {{contactPhone}}</p>
      </div>
      </div>
    <div class="col-md-3 mx-2">
      <h3>
        Latest Articles/Most popular today?
      </h3>

    </div>
  </div>
    <!-- Copyright -->
  <div id="copyright" class="text-center">
      <span>© 2019 Copyright:</span>
      <a href="https://gdziejedzonko.tk/"> GdzieJedzonko.tk</a>
  </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
